# Backend - Module de Rapprochement MB/CBS/PI
# Stack : Django 4.2 LTS + Python 3.11

# Framework web
Django==4.2.*
djangorestframework==3.15.*
djangorestframework-simplejwt==5.3.*
django-cors-headers==4.3.*

# Base de donnees
psycopg2-binary==2.9.*

# Taches asynchrones et planification
celery==5.3.*
celery[redis]==5.3.*
django-celery-beat==2.6.*
redis==5.0.*

# Connecteurs API
requests==2.31.*
tenacity==8.2.*

# Generation de rapports
reportlab==4.0.*
openpyxl==3.1.*

# Serveur WSGI
gunicorn==21.2.*

# Utilitaires Django
django-environ==0.11.*
django-filter==23.5.*
